body {
	background-color:lightblue;
}


ul{
	border-radius:2px;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	
	
	
}
.testing {
	display:inline;
	float:right;
	display:block;
	
	
	font-size:20px;
	
	
	
}

.nav{
	
}

a{
	display:block;
	
	text-decoration:none;
	padding:20px;
	color:white;
	
}

a{
	color:white;
	transition: color 0.5s ease-in-out;
	
}

a:hover{
	color:yellow;
}
#grad{
	background-color:black;
	background-image: linear-gradient(black,darkblue);
}


.testing2{
	display:block;
	padding:20px;
	margin-left:none;
	padding-left:none;
	transition:0.75s;
	
}

.testing2:first-child{
	margin-top:none;
	padding-top:none;
	
}